<div class="privacy-policy">
  <h1>Privacy Policy</h1>
  <p>
    Responsible in the sense of the data protection laws, in particular, the EU
    General Data Protection Regulation (GDPR) is:
  </p>
  <p>
    Samed Azaplioglu <br />Mörike Strasse 11
    <br />
    <br />Shareholders authorized to represent: Samed <br />Azaplioglu
    <br />Phone: 0176 66944952
    <br />
    <br />Email: samed.azaplioglu@outlook.de
  </p>
  <h2>Your data subject rights</h2>
  <p>
    You can contact our data protection officer using the contact details
    provided You can exercise the following rights at any time:
  </p>
  <ul>
    <li>
      Information about your data stored by us and their processing (Art. 15
      GDPR),
    </li>
    <li>Correction of incorrect personal data (Article 16 GDPR),</li>
    <li>Deletion of your data stored by us (Article 17 GDPR),</li>
    <li>
      Restriction of data processing if we process your data based on legal
      obligations may not yet delete (Article 18 GDPR),
    </li>
    <li>
      Objection to the processing of your data by us (Article 21 GDPR) and
    </li>
    <li>
      Data transferability, provided you have consented to the data processing
      or have concluded a contract with us (Article 20 GDPR).
    </li>
  </ul>
  <p>
    If you have given us your consent, you can do so at any time revoked with
    effect for the future.
  </p>
  <p>
    You can complain to a supervisory authority at any time turn, e.g. B. to the
    competent supervisory authority of the federal state of your country's place
    of residence or the office responsible for us Authority.
  </p>
  <p>
    A list of supervisory authorities (for the non-public area) You can find the
    address at:
    <a
      href="https://www.bfdi.bund.de/DE/Service/Anschriften/Laender/Laender-node.html"
      target="_blank"
      rel="no opener nofollow"
      >https://www.bfdi.bund.de/DE/Service/Anschriften/Laender/Laender-node.html</a
    >.
  </p>
  <p></p>
  <h2>Collection of general information when visiting our website</h2>
  <h3>Type and purpose of processing:</h3>
  <p>
    When you access our website, i.e. when you are not registered or otherwise
    submit information will be automatic Information of a general nature
    collected. This information (Server log files) includes, for example, the
    type of web browser used Operating system, the domain name of your internet
    service provider, your IP address, and the like.
  </p>
  <p>They are processed in particular for the following purposes:</p>
  <ul>
    <li>Ensuring a smooth connection to the website,</li>
    <li>Ensuring a smooth use of our website,</li>
    <li>Evaluation of system security and stability, and</li>
    <li>to optimize our website.</li>
  </ul>
  <p>
    We do not use your data to conclude your person. Information of this type is
    statistically anonymized by us if necessary evaluated in order to improve
    our website and the technology behind it optimize.
  </p>
  <h3>Legal basis and legitimate interest:</h3>
  <p>
    The processing takes place by Art. 6 Para. 1 lit. f GDPR on the basis of our
    legitimate interest in improving stability and the functionality of our
    website.
  </p>
  <h3>Recipient:</h3>
  <p>
    Recipients of the data may be technical service providers who are
    responsible for the operation and maintenance of our website as a processor.
  </p>
  <p></p>
  <h3>Storage duration:</h3>
  <p>
    The data will be deleted as soon as they are not suitable for collection
    more is required. This is for the data involved in providing the serve the
    website, in principle the case when the respective session ends is.
  </p>
  <p></p>
  <h3>Preparation mandatory or required:</h3>
  <p>
    The provision of the aforementioned personal data is neither legally nor
    contractually required. However, without the IP address, the service and
    functionality of our website cannot be guaranteed. In addition, individual
    services and services may not be available or to be disabled. For this
    reason, an objection is excluded.
  </p>
  <p></p>
  <h2>Use of script libraries (Google Webfonts)</h2>
  <p>
    To ensure that our content is correct and graphically appealing across
    browsers To display, we use "Google Web Fonts" from Google on this website
    LLC (1600 Amphitheater Parkway, Mountain View, CA 94043, USA; hereafter
    "Google") to display fonts.
  </p>
  <p>
    For more information about Google Web Fonts, see
    <a
      href="https://developers.google.com/fonts/faq"
      rel="no opener nofollow"
      target="_blank"
      >https://developers.google.com/fonts/faq</a
    >
    and in the privacy policy clarification from Google:
    <a
      href="https://www.google.com/policies/privacy/"
      rel="no opener nofollow"
      target="_blank"
      >https://www.google.com/policies/privacy/</a
    >.
  </p>
  <p></p>
  <hr />
  <h2>Information about your right of objection according to Art. 21 GDPR</h2>
  <h3>Individual right to object</h3>
  <p>
    You have the right, for reasons arising from your particular situation the
    result, at any time against the processing of personal data concerning you
    Data that is processed based on Art. 6 Para. 1 lit. f GDPR (data processing
    the based on a balance of interests) to file an objection; this also applies
    to profiling based on this provision within the meaning of Art. 4 No. 4
    GDPR.
  </p>
  <p>
    If you object, we will not use your data process more, unless we can
    compelling legitimate grounds for demonstrating the processing, your
    interests, rights, and freedoms outweigh, or the processing is for the
    establishment, exercise, or Defense of Legal Claims.
  </p>
  <h3>Recipient of an objection</h3>
  <p>
    Samed Azaplioglu <br />Mörike Strasse 11
    <br />
    <br />Shareholders authorized to represent: Samed <br />Azaplioglu
    <br />Phone: 0176 66944952
    <br />
    <br />Email: samed.azaplioglu@outlook.de
  </p>
  <hr />
  <h2>Change to our privacy policy</h2>
  <p>
    We reserve the right to adapt this data protection declaration so that it
    always corresponds to the current legal requirements or to changes to
    implement our services in the data protection declaration, e.g Introduction
    of new services. The new one then applies to your next visit to Data
    protection.
  </p>
  <h2>Questions for the data protection officer</h2>
  <p>
    If you have any questions about data protection, please send us an email or
    contact the person responsible for data protection directly Person in our
    organization:
  </p>
  <p></p>
  <p>
    <em
      >The data protection declaration was created with the help of activeMind
      AG, the experts for
      <a
        href="https://www.activemind.de/datenschutz/datenschutzbeauftragter/"
        target="_blank"
        rel="no opener"
        >external data protection officer</a
      >
      (Version #2020-09-30).</em
    >
  </p>
</div>
